<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Automotive AI</title>
    <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Responsive Website Design, landing page, Portfolio, Business, E-commerce">
    <meta name="description" content="Responsive Website Design & Development">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="rebots" content="index, archive">
    <link rel="canonical" href="https://www.example.com">
    <!-- Google Fonts -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">


    <!-- CSS style links-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">



</head>

<body>
    <!-- loader -->
    <div class="loaders">
        <div class="loader"></div>
    </div>
    <!-- loader -->

    <div class="toplogo">
        <img src="assets/img/logo.svg" alt="logo">
    </div>



    <!-- coming-soon -->
    <section class="coming-soon">
        <div class="containers">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="comingsoon">
                        <div class="cars">
                            <div class="car car1">
                                <div class="car-body">
                                    <img src="assets/img/body1-02.png" alt="" />
                                </div>
                                <div class="tair1 tair">
                                    <img src="assets/img/wheel.png" alt="" />
                                </div>
                                <div class="tair2 tair">
                                    <img src="assets/img/wheel.png" alt="" />
                                </div>
                            </div>
                            <div class="bg">
                                <img src="assets/img/bg1.png" alt="" />
                            </div>
                        </div>

                        <h1>Coming Soon!</h1>
                        <p>Are you ready to get something <span>Crazy</span>? Then Subscribe To Get Notified When We Are Live</p>
                        <div class="row">
                            <div class="col-md-9">
                                <input type="email" class="form-control" placeholder="Enter your email" />
                            </div>
                            <div class="col-md-3">
                                <button class="subscribe">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- coming-soon -->



    <!-- Js script links-->
    <script src="assets/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.smartmenus.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/calendar.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>