<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Automotive AI</title>
    <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Responsive Website Design, landing page, Portfolio, Business, E-commerce">
    <meta name="description" content="Responsive Website Design & Development">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="rebots" content="index, archive">
    <link rel="canonical" href="https://www.example.com">
    <!-- Google Fonts -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">


    <!-- CSS style links-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">



</head>

<body>
    <!-- loader -->
    <div class="loaders">
        <div class="loader"></div>
    </div>
    <!-- loader -->

    <!-- header -->
    <header class="header-area">
        <div class="containers">
            <div class="row">
                <div class="col-12">
                    <div class="navigation">
                        <nav class="navbar navbar-expand-xl">
                            <div class="container-fluid  p-0">
                                <a class="navbar-brand" href="index.html"><img class="img-fluid" src="assets/img/logo.svg" alt="logo"></a>
                                <div class="location">
                                    <p><i class="bi bi-geo-alt-fill"></i> Kansas City </p>
                                    <input type="text" class="form-control" placeholder="Zip Code">
                                </div>

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mobilebtn"><i class="bi bi-text-right"></i> </span>
                          </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul id="main-menu" class="navbar-nav me-auto sm sm-simple">
                                        <li><a href="/login">Sign up / Log in</a></li>
                                        <li><a href="#" class="dealerslog">Dealers Log in</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->



    <!-- main-content -->
    <main class="main-content">

        <!-- compare-top -->
        <section class="compare-top">
            <div class="containers">
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <h3>Compare Cars</h3>

                            <div class="anchorlink" id="list-example">
                                <a href="#Pricing">Pricing</a>
                                <a href="#features">features</a>
                                <a href="#Specifications">Specifications</a>
                                <a href="#Fuel_Economy">Fuel Economy</a>
                                <a href="#Dimensions">Dimensions</a>
                                <a href="#Colors">Colors</a>
                                <a href="#Mileage">Mileage</a>
                                <a href="#Interior">Interior</a>
                                <a href="#Exterior">Exterior</a>
                                <a href="#Engine">Engine</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- compare-top -->



        <!-- compares-area -->
        <section class="compares-area">
            <div class="containers">

                <div class="desktopview" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="compare-box">
                                <div class="compare-car">
                                    <div class="x"><img src="assets/img/x.svg" alt="x"></div>
                                    <img src="assets/img/red-car.png" alt="red-car">

                                    <h3>2024 Toyota Corolla SE</h3>
                                    <hr>
                                </div>
                                <div id="Pricing" class="Pricing">

                                    <div class="combox">
                                        <p>Pricing</p>
                                        <h2>$42,100</h2>
                                    </div>

                                </div>
                                <div id="features" class="features">
                                    <div class="combox">
                                        <h5>Features</h5>
                                        <hr>

                                        <p>Bluetooth</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Navigation</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Satellite Radio</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Keyless Ignition</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Cruise control</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Parking assistance</p>
                                        <h4>Standard</h4>
                                    </div>
                                </div>
                                <div id="Specifications" class="Specifications">
                                    <div class="combox">
                                        <h5>Specification</h5>
                                        <hr>

                                        <p>Drivetrain</p>
                                        <h4>Rear wheel drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Engine Power</p>
                                        <h4>250 lb-ft</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div id="Fuel_Economy" class="Fuel_Economy">
                                    <div class="combox">
                                        <h5>Fuel Economy</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div id="Dimensions" class="Dimensions">
                                    <div class="combox">
                                        <h5>Dimensions</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div id="Colors" class="Colors">
                                    <div class="combox">
                                        <h5>Colors</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div id="Mileage" class="Mileage">
                                    <div class="combox">
                                        <h5>Mileage</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div id="Interior" class="Interior">
                                    <div class="combox">
                                        <h5>Interior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div id="Exterior" class="Exterior">
                                    <div class="combox">
                                        <h5>Exterior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div id="Engine" class="Engine">
                                    <div class="combox">
                                        <h5>Engine</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="compare-box">
                                <div class="compare-car">
                                    <div class="x"><img src="assets/img/x.svg" alt="x"></div>
                                    <img src="assets/img/ash-car.png" alt="red-car">

                                    <h3>2024 Toyota Corolla SE</h3>
                                    <hr>
                                </div>
                                <div class="Pricing">
                                    <div class="combox">
                                        <p>Pricing</p>
                                        <h2>$42,100</h2>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="combox">
                                        <h5>Features</h5>
                                        <hr>
                                        <p>Bluetooth</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Navigation</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Satellite Radio</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Keyless Ignition</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Cruise control</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Parking assistance</p>
                                        <h4>Standard</h4>
                                    </div>
                                </div>
                                <div class="Specifications">
                                    <div class="combox">
                                        <h5>Specification</h5>
                                        <hr>
                                        <p>Drivetrain</p>
                                        <h4>Rear wheel drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Engine Power</p>
                                        <h4>250 lb-ft</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Fuel_Economy">
                                    <div class="combox">
                                        <h5>Fuel Economy</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Dimensions">
                                    <div class="combox">
                                        <h5>Dimensions</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Colors">
                                    <div class="combox">
                                        <h5>Colors</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Mileage">
                                    <div class="combox">
                                        <h5>Mileage</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Interior">
                                    <div class="combox">
                                        <h5>Interior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Exterior">
                                    <div class="combox">
                                        <h5>Exterior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Engine">
                                    <div class="combox">
                                        <h5>Engine</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="compare-box">
                                <div class="compare-car">
                                    <div class="x"><img src="assets/img/x.svg" alt="x"></div>
                                    <img src="assets/img/blue-car.png" alt="red-car">

                                    <h3>2024 Toyota Corolla SE</h3>
                                    <hr>
                                </div>
                                <div class="Pricing">
                                    <div class="combox">
                                        <p>Pricing</p>
                                        <h2>$42,100</h2>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="combox">
                                        <h5>Features</h5>
                                        <hr>
                                        <p>Bluetooth</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Navigation</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Satellite Radio</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Keyless Ignition</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Cruise control</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Parking assistance</p>
                                        <h4>Standard</h4>
                                    </div>
                                </div>
                                <div class="Specifications">
                                    <div class="combox">
                                        <h5>Specification</h5>
                                        <hr>
                                        <p>Drivetrain</p>
                                        <h4>Rear wheel drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Engine Power</p>
                                        <h4>250 lb-ft</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Fuel_Economy">
                                    <div class="combox">
                                        <h5>Fuel Economy</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Dimensions">
                                    <div class="combox">
                                        <h5>Dimensions</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Colors">
                                    <div class="combox">
                                        <h5>Colors</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Mileage">
                                    <div class="combox">
                                        <h5>Mileage</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Interior">
                                    <div class="combox">
                                        <h5>Interior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Exterior">
                                    <div class="combox">
                                        <h5>Exterior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Engine">
                                    <div class="combox">
                                        <h5>Engine</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="compare-box">
                                <div class="addnewcar">
                                    <a href="#"><i class="bi bi-plus-lg"></i> Add a Vehicle</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mobileview">

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">2024 Toyota Corolla SE</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">2024 Toyota Corolla SE</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">2024 Toyota Corolla SE</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="add-tab" data-bs-toggle="tab" data-bs-target="#add-tab-pane" type="button" role="tab" aria-controls="add-tab-pane" aria-selected="false"> <i class="bi bi-plus-lg"></i> add tab</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">

                            <div class="compare-box">
                                <div class="compare-car">
                                    <div class="x"><img src="assets/img/x.svg" alt="x"></div>
                                    <img src="assets/img/ash-car.png" alt="red-car">

                                    <h3>2024 Toyota Corolla SE</h3>
                                    <hr>
                                </div>
                                <div class="Pricing">
                                    <div class="combox">
                                        <p>Pricing</p>
                                        <h2>$42,100</h2>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="combox">
                                        <h5>Features</h5>
                                        <hr>
                                        <p>Bluetooth</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Navigation</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Satellite Radio</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Keyless Ignition</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Cruise control</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Parking assistance</p>
                                        <h4>Standard</h4>
                                    </div>
                                </div>
                                <div class="Specifications">
                                    <div class="combox">
                                        <h5>Specification</h5>
                                        <hr>
                                        <p>Drivetrain</p>
                                        <h4>Rear wheel drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Engine Power</p>
                                        <h4>250 lb-ft</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Fuel_Economy">
                                    <div class="combox">
                                        <h5>Fuel Economy</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Dimensions">
                                    <div class="combox">
                                        <h5>Dimensions</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Colors">
                                    <div class="combox">
                                        <h5>Colors</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Mileage">
                                    <div class="combox">
                                        <h5>Mileage</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Interior">
                                    <div class="combox">
                                        <h5>Interior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Exterior">
                                    <div class="combox">
                                        <h5>Exterior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Engine">
                                    <div class="combox">
                                        <h5>Engine</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">

                            <div class="compare-box">
                                <div class="compare-car">
                                    <div class="x"><img src="assets/img/x.svg" alt="x"></div>
                                    <img src="assets/img/ash-car.png" alt="red-car">

                                    <h3>2024 Toyota Corolla SE</h3>
                                    <hr>
                                </div>
                                <div class="Pricing">
                                    <div class="combox">
                                        <p>Pricing</p>
                                        <h2>$42,100</h2>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="combox">
                                        <h5>Features</h5>
                                        <hr>
                                        <p>Bluetooth</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Navigation</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Satellite Radio</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Keyless Ignition</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Cruise control</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Parking assistance</p>
                                        <h4>Standard</h4>
                                    </div>
                                </div>
                                <div class="Specifications">
                                    <div class="combox">
                                        <h5>Specification</h5>
                                        <hr>
                                        <p>Drivetrain</p>
                                        <h4>Rear wheel drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Engine Power</p>
                                        <h4>250 lb-ft</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Fuel_Economy">
                                    <div class="combox">
                                        <h5>Fuel Economy</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Dimensions">
                                    <div class="combox">
                                        <h5>Dimensions</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Colors">
                                    <div class="combox">
                                        <h5>Colors</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Mileage">
                                    <div class="combox">
                                        <h5>Mileage</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Interior">
                                    <div class="combox">
                                        <h5>Interior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Exterior">
                                    <div class="combox">
                                        <h5>Exterior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Engine">
                                    <div class="combox">
                                        <h5>Engine</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                            <div class="compare-box">
                                <div class="compare-car">
                                    <div class="x"><img src="assets/img/x.svg" alt="x"></div>
                                    <img src="assets/img/ash-car.png" alt="red-car">

                                    <h3>2024 Toyota Corolla SE</h3>
                                    <hr>
                                </div>
                                <div class="Pricing">
                                    <div class="combox">
                                        <p>Pricing</p>
                                        <h2>$42,100</h2>
                                    </div>
                                </div>
                                <div class="features">
                                    <div class="combox">
                                        <h5>Features</h5>
                                        <hr>
                                        <p>Bluetooth</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Navigation</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Satellite Radio</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Keyless Ignition</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Cruise control</p>
                                        <h4>Standard</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Parking assistance</p>
                                        <h4>Standard</h4>
                                    </div>
                                </div>
                                <div class="Specifications">
                                    <div class="combox">
                                        <h5>Specification</h5>
                                        <hr>
                                        <p>Drivetrain</p>
                                        <h4>Rear wheel drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Engine Power</p>
                                        <h4>250 lb-ft</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Fuel_Economy">
                                    <div class="combox">
                                        <h5>Fuel Economy</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Dimensions">
                                    <div class="combox">
                                        <h5>Dimensions</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Colors">
                                    <div class="combox">
                                        <h5>Colors</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Mileage">
                                    <div class="combox">
                                        <h5>Mileage</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Interior">
                                    <div class="combox">
                                        <h5>Interior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Exterior">
                                    <div class="combox">
                                        <h5>Exterior</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                                <div class="Engine">
                                    <div class="combox">
                                        <h5>Engine</h5>
                                        <hr>
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                    <div class="combox">
                                        <p>Transmission</p>
                                        <h4>1-speed direct drive</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="add-tab-pane" role="tabpanel" aria-labelledby="add-tab" tabindex="0">

                            <div class="compare-box">
                                <div class="addnewcar">
                                    <a href="#"><i class="bi bi-plus-lg"></i> Add a Vehicle</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </section>
        <!-- compares-area -->

    </main>
    <!-- main-content -->




    <!-- footer -->
    <footer class="footer-area">
        <div class="containers">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy">
                        <p>Copyright © 2024 Automotiveai.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="trams">
                        <p><a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            <a href="#" class="scrolltotop"><i class="bi bi-arrow-up-circle"></i></a>
        </div>
    </footer>
    <!-- footer -->



    <!-- Js script links-->
    <script src="assets/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.smartmenus.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/calendar.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>