<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Automotive AI</title>
    <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Responsive Website Design, landing page, Portfolio, Business, E-commerce">
    <meta name="description" content="Responsive Website Design & Development">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="rebots" content="index, archive">
    <link rel="canonical" href="https://www.example.com">
    <!-- Google Fonts -->
    <link rel="shortcut icon" href="assets/img/favicon.ico">


    <!-- CSS style links-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">



</head>

<body>



    <!-- login-signup -->
    <section class="login-singup">
        <div class="containers">
            <div class="row justify-content-center">
                <div class=" col-md-10 col-lg-8 col-xl-6">
                    <div class="loginsignup">
                        <h2>User Sign up</h2>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <input type="email" class="form-control" placeholder="Email" />
                            </div>
                            <div class="col-md-12 mb-3">
                                <input type="password" class="form-control" value="" placeholder="Password">
                                <i class="toggle-password bi bi-eye-slash"></i>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button class="cusbtn" type="submit">Login</button>
                            </div>

                            <div class="col-md-12 mb-3">
                                <p class="or">Or</p>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="singupby">
                                    <a href="#"><img src="assets/img/google.svg" alt="google"></a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="singupby">
                                    <a href="#"><img src="assets/img/mac.svg" alt="mac"></a>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <div class="singupby">
                                    <a href="#"><img src="assets/img/facebook.svg" alt="facebook"></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="alredy">
                                    <p>Don’t have an account?
                                        <a href="signup.html">Create account</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login-signup -->




    <!-- Js script links-->
    <script src="assets/js/code.jquery.com_jquery-3.7.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.smartmenus.min.js"></script>
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/calendar.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>