<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Automotive AI</title>
    <!-- Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Responsive Website Design, landing page, Portfolio, Business, E-commerce">
    <meta name="description" content="Responsive Website Design & Development">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="rebots" content="index, archive">
    <link rel="canonical" href="https://www.example.com">
    <!-- Google Fonts -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">



</head>

<body>
    <!-- loader -->
    <div class="loaders">
        <div class="loader"></div>
    </div>
    <!-- loader -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title " id="exampleModalLabel">Submit an Offer</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img
                            src="{{ url_for('static', filename='img/close.png') }}" alt="close"></button>
                </div>
                <div class="modal-body">
                    <div class="innermodal">

                        <input type="text" class="form-control pricebox" placeholder="$00,000">

                        <p>Your offer amount</p>

                        <div class="row modalfrom">
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" placeholder="Full name">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="number" class="form-control" placeholder="Phone no">
                            </div>
                            <div class="col-12 mb-3">
                                <button class="cusbtn" data-bs-target="#exampleModal2" data-bs-toggle="modal">Submit
                                    this offer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title " id="exampleModalLabel"> </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img
                            src="{{ url_for('static', filename='img/close.png') }}" alt="close"></button>

                </div>
                <div class="modal-body">
                    <div class="innermodal">
                        <div class="done">
                            <img src="{{ url_for('static', filename='img/check.png') }}" alt="check">

                            <p>Your offer has been submitted!</p>
                            <p><span> We will contact you soon!</span></p>
                        </div>

                        <button class="cusbtn" data-bs-dismiss="modal" aria-label="Close">Okay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title " id="exampleModalLabel">Schedule for a test drive </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><img
                            src="{{ url_for('static', filename='img/close.png') }}" alt="close"></button>

                </div>
                <div class="modal-body">
                    <!-- calender -->
                    <div class="calender">
                        <div class="row">
                            <div class="col-md-12 col-lg-9">
                                <div class="calenderleft">
                                    <input type="text" class="form-control" placeholder="Title of schedule">
                                    <p>Select a date</p>
                                    <div class="calendar calendar-first" id="calendar_first">
                                        <div class="calendar_header">
                                            <h2></h2>
                                            <button class="switch-month switch-right"><i
                                                    class="bi bi-chevron-right"></i></button>
                                            <button class="switch-month switch-left"><i
                                                    class="bi bi-chevron-left"></i></button>
                                        </div>
                                        <div class="calendar_weekdays"></div>
                                        <div class="calendar_content"></div>
                                    </div>

                                    <div class="duratio">
                                        <h4>Duration of test drive</h4>
                                        <ul>
                                            <li>15 <span>mins</span></li>
                                            <li>30 <span>mins</span></li>
                                            <li>45 <span>mins</span></li>
                                            <li>
                                                <input type="text" class="form-control" placeholder="...">
                                                <span>custom</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-3">
                                <div class="calenderright">
                                    <h4>Select Time</h4>
                                    <input type="time" class="form-control times" value="04:12 PM">
                                    <div class="available">
                                        <p>Time you’re available</p>
                                        <ul>
                                            <li><i class="bi bi-record-fill"></i> 8:00 AM</li>
                                            <li><i class="bi bi-record-fill"></i> 8:30 AM</li>
                                            <li><i class="bi bi-record-fill"></i> 8:50 AM</li>
                                            <li><i class="bi bi-record-fill"></i> 9:00 AM</li>
                                            <li><i class="bi bi-record-fill"></i> 10:00 AM</li>
                                            <li><i class="bi bi-record-fill"></i> 10:30 AM</li>
                                            <li><i class="bi bi-record-fill"></i> 11:00 AM</li>
                                            <li><i class="bi bi-record-fill"></i> 11:30 AM</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <button class="cusbtn cancel" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <button class="cusbtn" data-bs-target="#exampleModal2"
                                    data-bs-toggle="modal">Create</button>
                            </div>
                        </div>
                    </div>
                    <!-- calender -->
                </div>
            </div>
        </div>
    </div>










    <!-- header -->
    <header class="header-area">
        <div class="containers">
            <div class="row">
                <div class="col-12">
                    <div class="navigation">
                        <nav class="navbar navbar-expand-xl">
                            <div class="container-fluid  p-0">
                                <a class="navbar-brand" href="index.html"><img class="img-fluid"
                                        src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo"></a>
                                <div class="location">
                                    <p><i class="bi bi-geo-alt-fill"></i> Kansas City </p>
                                    <input type="text" class="form-control" placeholder="Zip Code">
                                </div>

                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon mobilebtn"><i class="bi bi-text-right"></i> </span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul id="main-menu" class="navbar-nav me-auto sm sm-simple">
                                        <li><a href="/login">Sign up / Log in</a></li>
                                        <li><a href="#" class="dealerslog">Dealers Log in</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->



    <!-- main-content -->
    <main class="main-content">


        <!-- vps-area -->
        <section class="vpd-area">
            <div class="containers">
                <div class="row">
                    <div class="col-12">
                        <div class="deails-slider">
                            <!-- First Large Image -->
                            <div class="first-image">
                                <a class="magnific" href="{{ car.image_list[0] }}" title="slider">
                                    <img src="{{ car.image_list[0] }}" alt="First Image">
                                </a>
                            </div>
                    
                            <!-- Carousel for Remaining Images (Desktop) -->
                            <div class="carousel desktop">
                                {% for image in car.image_list[1:] %}
                                <div class="item">
                                    <a class="magnific" href="{{ image }}" title="slider">
                                        <img src="{{ image }}" alt="slider">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                    
                            <!-- Carousel for Remaining Images (Mobile) -->
                            <div class="carousel mobile">
                                {% for image in car.image_list[1:] %}
                                <div class="item">
                                    <a class="magnific2" href="{{ image }}" title="slider">
                                        <img src="{{ image }}" alt="slider">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-12">
                        <div class="cartitle">
                            <p>{{ car.condition }} Used</p>
                            <h1>{{ car.year }} {{ car.make }} {{ car.model }}</h1>
                            <h3>${{ car.price }}</h3>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="aboutcarsarea">
                            <div class="row">
                                {% set car_attributes = {
                                'Mileage': {'value': car.mileage, 'img': 'Mileage.png'},
                                'Stock': {'value': car.price, 'img': 'Stock.png'},
                                'Transmission': {'value': car.transmission, 'img': 'Transmission.png'},
                                'Drivetrain': {'value': car.drivetrain, 'img': 'Drivetrain.png'},
                                'Fuel Type': {'value': car.fuel, 'img': 'FuelType.png'},
                                'Engine': {'value': car.engine, 'img': 'Engine.png'},
                                'Interior': {'value': car.int_color, 'img': 'Interior.png'},
                                'Exterior': {'value': car.ext_color, 'img': 'Exterior.png'}
                                } %}

                                {% for attribute, details in car_attributes.items() %}
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="aboutcars">
                                        <div class="imges">
                                            <img src="{{ url_for('static', filename='img/' + details.img) }}"
                                                alt="{{ attribute }}">
                                        </div>
                                        <div class="abotcar">
                                            <h4>{{ attribute }}</h4>
                                            <p>{{ details.value }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="detailscon">
                            {% if car.description %}
                                <p>{{ car.description }}</p>
                            {% else %}
                                <p>No description available</p>
                            {% endif %}
                        </div>
                    </div>
                    


                    <div class="col-sm-6">
                        <div class="boxs" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <img src="{{ url_for('static', filename='img/message.png') }}" alt="message">

                            <p>Would you like to <span>negotiate the price?</span> </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="boxs red" data-bs-target="#exampleModal3" data-bs-toggle="modal">
                            <img src="{{ url_for('static', filename='img/calender.png') }}" alt="calender">
                            <p>Would you like to <span> schedule a test drive?</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- vps-area -->


    </main>
    <!-- main-content -->




    <!-- footer -->
    <footer class="footer-area">
        <div class="containers">
            <div class="row">
                <div class="col-md-6">
                    <div class="copy">
                        <p>Copyright © 2024 Automotiveai.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="trams">
                        <p><a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-12">
            <a href="#" class="scrolltotop"><i class="bi bi-arrow-up-circle"></i></a>
        </div>
    </footer>
    <!-- footer -->



    <!-- Js script links-->
    <script src="{{ url_for('static', filename='js/code.jquery.com_jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.smartmenus.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>